<div class="container">
    <div class="row">
      <div class="col-sm-2 left-side-bar">
				<select id="site_select" class="bcls-select" style="margin-left: 1rem;">
					<option value="">Other Brightcove Docs</option>
					{% for site in site.data.sites %}
						{% if site.name != site.product %}
							<option value="{{ site.url }}">{{ site.name }}</option>
						{% endif %}
					{% endfor %}
				</select>

        <nav style="float: left;" id="announcements">
          <h6 class="toc" style="margin-top: 1em;">Announcements</h6>
          <ul id="announcement_list" class="list-none">
            {% for announcement in site.data.announcements %}
            <li style="font-size: smaller;margin-bottom:
            .7rem;">{{ announcement }}</li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    <div class="col-lg-8" style="background-color: white;color: #333333;margin-top: -1em;margin-bottom: -1em;padding-bottom:1em;margin-left:5%">
  <!-- bootstrap layout -->
